body {
    text-align: center;
    position: relative;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
    
    /* These styles will make the body use the entire page of the browser window */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

.aligner {
    /* These styles will make the body use the entire page of the browser window */
    /* we also want the aligner to use the entire page of the browser window too */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    /* These styles center the game horizontally and vertically */
    display: flex;
    align-items: center;
    justify-content: center;
}


#game-container {
    background-color: white;
    width: 600px;
    display: inline-block;
    top: 20px;
}

#UI {
    display: inline-block;
    vertical-align: top;
    /* we don't need this anymore padding-top: 125px; */
}

.section {
    padding-bottom: 15px;
}

.dot {
    height: 100px;
    width: 100px;
    margin: 20px;
    display: inline-block;
    border-radius: 100%;
}

.hidden {
    background-color: white !important;
}

.hidden-div {
    display: none;
}

h1 {
    font-size: 1.75em;
}

p,
label {
    margin: 0px;
}

button {
    cursor: pointer;
    border: none;
    text-decoration: underline;
    background: none;
}

/* The radio container */
.radio {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #bbb;
}

/* Hide the browser's default radio button */
.radio input {
    position: absolute;
    opacity: 0;
}

/* When radio label is hovered or checked, turn text black */
.radio:hover,
.radio input:checked ~ span {
    color: #000;
}
