body {
    text-align: center;
    position: relative;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;

}


#game-container {
    background-color: white;
    width: 600px;
    display: inline-block;
}

#UI {
    display: inline-block;
    vertical-align: top;
    padding-top: 125px;
}

.dot {
    height: 100px;
    width: 100px;
    margin: 20px;
    display: inline-block;
    border-radius: 100%;
}

.hidden {
    background-color: white !important;
}

.hidden-div {
    display: none;
}

h1 {
    font-size: 1.75em;
}

p {
    margin: 0px;
}

button {
    margin: 4px;
}