#game-container {
    background-color: white;
    width: 600px;
}

.dot {
    height: 100px;
    width: 100px;
    margin: 20px;
    display: inline-block;
    border-radius: 100%;
}

.hidden {
    background-color: white !important;
}

.red {
    background-color: red;
}